$bg: #ffffff;
$color-white: #ffffff;
$color-main: #08415c;
$color-highlight: #50b2c0;
$color-input: #e5e5e5;
$color-gary: #ECEBEB;
$Personbg: #50b2c0;
$PersonIconbg: #fffcf9;
$goalbg: #ffffff;
$goal-border: #08415c;
$goal-timeline: #08415c;
$goal-detail-bg: #ECEBEB;
$Tipsbg: #50b2c0;
$finish_status-bg: #8F77BD;
$namebg: #50b2c0;
