$PersonIcon-border-radius: 5px;
$card-border-radius: 10px;
$card-spacing: 14px;

@mixin container {
  background-color: $bg;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

@mixin divsetting {
  max-width: 360px;
  width: 90vw;
}

// @mixin pad {
//   @media (max-width: 768px) {
//     @content;
//   }
// }
@mixin mobile {
  @media (max-width: 320px) {
    @content;
  }
}
