@import "../../styles/color.scss";
@import "../../styles/spacing.scss";
@import "../../styles/font.scss";

.container {
  @include container;
  @include mobile {
    display: flex;
    justify-content: flex-start;
  }
}
.container > div {
  //   border: 1px solid black;
  @include divsetting;
  // min-width: 300px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 12px;
}
.planpart {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plantitle {
  display: flex;
  align-items: center;
  gap: 8px;
  @include sencond-title;
}
.addicon {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-main;
}
.planlist {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 24px 16px;
  border: 1px solid $color-main;
  border-radius: 10px;
}
.misson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px;
  @include mobile {
    display: flex;
    background-color: $finish_status-bg;
    border-radius: 5px;
  }
}
.misson_content {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  @include mobile {
    flex-direction: column;
  }
}
.misson_setting {
  cursor: pointer;
}

.deletemodal {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  button {
    border-radius: 20px;
    padding: 8px 20px;
    width: 50vw;
    max-width: 600px;
    background: none;
    color: inherit;
    border: none;
    @include sencond-title;
    cursor: pointer;
    outline: inherit;
  }
  .deletebtn {
    background-color: #DB2B39;
    color: $color-white;
  }

  .cancelbtn {
    border: 1px solid black;
  }
}

.addmodal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .addcontent,
  .adddate {
    color: gray;
    @include content;
    width: 80%;
  }
  .adddate {
    display: flex;
    flex-direction: column;
  }
  button {
    border-radius: 20px;
    padding: 8px 20px;
    width: 80%;
    max-width: 600px;
    background: none;
    color: inherit;
    border: none;
    @include sencond-title;
    cursor: pointer;
    outline: inherit;
  }
  .addbtn {
    background-color: #758E4F;
    color: $color-white;
  }
  .cancelbtn {
    border: 1px solid black;
  }
}
.plantip {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  @include mobile {
    flex-direction: column;
  }
  img {
    flex: 1;
    max-width: 80px;
    margin-bottom: 0;
  }
}
.tipscontent {
  flex: 2;
  padding: 24px;
  border-radius: 10px;
  background-color: $Tipsbg;
  border: 1px solid black;
  @include content;
  color: $color-white;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 32px;
  @include mobile {
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
  }
}
