@import "../../styles/color.scss";
@import "../../styles/spacing.scss";
@import "../../styles/font.scss";
.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}
.buttons{
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
}
img{
    width: 100%;
    margin-bottom: 32px;
}
