@import "../../styles/color.scss";
@import "../../styles/spacing.scss";
@import "../../styles/font.scss";

.container {
  @include container;
  @include mobile {
    display: flex;
    justify-content: flex-start;
  }
}
.container > div {
  //   border: 1px solid black;
  @include divsetting;
  // min-width: 300px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  flex-wrap: wrap;
  gap: 12px;
}
.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px; //換行間距
}
.goal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
  background-color: $goal-detail-bg;
  border-radius: 5px;
  padding: 16px 12px;
}
.timeline {
  border: 1px solid $goal-timeline;
  border-radius: 5px;
}
.edit {
  display: flex;
  flex-direction: column;
  gap: 28px;
  border: 1px solid $goal-timeline;
  border-radius: 5px;
  padding: 24px 16px;
}
.time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding: 8px;
  @include mobile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
  }
}
.finish_status {
  display: flex;
  justify-content: space-around;
  gap: 4px;
}
label {
  font-weight: bold;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  cursor: pointer;
}
.label_click {
  background-color: $finish_status-bg;
  color: $color-white;
}
.empty {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #08415c;
}
