@import "../../styles/color.scss";
@import "../../styles/spacing.scss";
@import "../../styles/font.scss";

.container {
  @include container;
  @include mobile {
    display: flex;
    justify-content: flex-start;
  }
}
.container > div {
  //   border: 1px solid black;
  @include divsetting;
  // min-width: 300px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  flex-wrap: wrap;
  gap: 12px;
}
.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px; //換行間距
}
.prize {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
  background-color: $goal-detail-bg;
  border-radius: 5px;
  padding: 16px 12px;
}
.reach {
  display: flex;
  align-items: center;
  @include mobile {
    flex-wrap: wrap;
    gap: 12px;
  }
}
.reach_title {
  @include sencond-title;
  margin-right: 24px;
  white-space: nowrap;
  @include mobile {
    margin-right: 8px;
  }
}
.reach_goals {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 8px;
  width: 90%;
}
.comment_part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  img {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
  }
  .comment{
    background: $color-highlight;
    border-radius: 30px;
    @include content;
    padding: 8px;
    color: $color-white;
  }
}
.detail {
  border-radius: 5px;
  min-height: 200px;
  background-color: $color-white;
  padding: 20px;
  @include content;
}
